<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Life Style</h1>
    <p class="lead">This is an app where you can track your daily foods.</p>
  </div>
</div>